body{
    background-color: rgb(19, 19, 19);
    display:grid;
    color: aliceblue;
}
nav {
    /*width: 30%;*/
    margin: auto;
}
header{
    background-color: rgb(77, 77, 77);
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 6fr;
}
nav ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
}

nav ul li {
    text-align: center;
}
.Home{
    height: 50px;
    width: fit-content;
}
th{
    padding: 40PX
}
a:link {
    color: aqua;
}
a:link, a:visited {
    color: aqua;
    text-decoration: none;
}
a:hover {
    color: red;
}
table,th,td{
    border: 1px solid rgb(255, 255, 255);
    border-collapse:collapse;
 }