body{
    background-color: rgb(19, 19, 19);
}
nav {
    width: 30%;
    margin: auto;
}
header{
    background-color: rgb(77, 77, 77);
    height: 50px;
}
nav ul{
    list-style-type: none;
    padding-top: 13px;
}

nav ul li {
    display: inline;
    padding: 30px;
}
*{
    color:rgb(64, 250, 250);
}
.Home{
    height: 50px;
}